[*.csproj]
indent_style = space
indent_size = 2

[*.cs]
indent_style = space
indent_size = 4

# Visual Studio

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none